
<div class="col">
    <h1 class="title">Carro de Compras</h1>
</div>
<div class="content">
    <div *ngIf="productsFormCtrl.controls.length > 0" class="row products">
        <div class="col-6">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Producto</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of productsFormCtrl.controls; let pos = index">
                        <td class="align-middle name" [routerLink]="['/product', product.controls.id.value]">
                            <div class="product-img" [ngStyle]="{ 'background-image': product.controls.photoUrl.value }"></div>
                        </td>
                        <td class="align-middle name" [routerLink]="['/product', product.controls.id.value]">{{product.controls.name.value}}</td>
                        <td class="align-middle">${{product.controls.price.value}}</td>
                        <td class="align-middle">
                            <button [disabled]="product.controls.quantity.value <= 1" (click)="decreaseProduct(product)" class="button">
                                <i class="fa fa-minus"></i>
                            </button>
                            {{product.controls.quantity.value}}
                            <button [disabled]="product.controls.quantity.value >= 10" (click)="addProduct(product)" class="button">
                                <i class="fa fa-plus"></i>
                            </button>
                        </td>
                        <td class="align-middle">
                            <button (click)="deleteProduct(product, pos)" class="button">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="productsFormCtrl.controls.length == 0" class="error-message">
        <i class="col-1 fa fa-exclamation-triangle"></i>
        <div class="col-11">
            <div>El carro está vacío.</div> 
            <div>Para comprar uno o más artículos haga clic en el botón <strong>"Agregar al carro"</strong> en el menú inicial o en la página de detalle del producto.</div>
        </div>
    </div>
</div>
<div class="col buttons-container">
    <div  class="col">
        <div class="final-price float-right">
            <span class="price-title">
                Precio Total:
            </span>
            <span class="price">
                ${{purchaseForm.controls.totalPrice.value | number : '1.2-2'}}
            </span>
        </div>
    </div>
    <div class="col">
        <button (click)="goToTab()" class="button next float-right" [disabled]="productsFormCtrl.controls.length == 0">
                <i class="fa fa-credit-card"></i>
                Cargar Método de Pago
        </button>
    </div>
</div>
