<nav-bar [cartVisible]="true"></nav-bar>
<div class="content">
  <div *ngIf="product && existProduct  && !loading" class="row product">
    <div class="col-md-1 col-12">
      <div (click)="goBack()" class="fa fa-arrow-circle-left"></div>
    </div>
    <div class="image col-md-5 col-12">
      <div
        class="product-img"
        [ngStyle]="{ 'background-image': product.photo_url }"
      ></div>
    </div>
    <div class="info col-md-6 col-12">
        <h1 class="name">{{product.name}}</h1>
        <div class="info-line"><span class="category-title">Categoría: </span><span class="category">{{product.categoryTitles}}</span></div>
        <div class="info-line">Precio: <span class="price">{{product.price}}</span></div>
        <div class="info-line" *ngIf="product.quantity > 0">Quedan {{product.quantity}} productos en stock.</div>
        <div class="info-line no-stock" *ngIf="product.quantity === 0">No quedan elementos en stock para este producto. </div>
        <div class="info-line" *ngIf="product.available && product.quantity > 0">Disponible para la compra.</div>
        <div class="info-line no-stock" *ngIf="!product.available || product.quantity === 0">Este producto no esta disponible para la compra.</div>
        <div class="space"></div>
    </div>
    <div class="offset-md-6 col-md-6 col-12">
      <div class="col-md-12 col-12 button-row">
        <button class="col-md-4 col-sm-6 col-12 button" [disabled]="!product.available || product.quantity === 0 || addingProduct" (click)="insertInCart(product)">
          <i class="fa fa-shopping-cart"></i>
          Agregar al carro
        </button>
        <button class="offset-1 col-md-4 col-sm-6 col-12 button" [disabled]="addingProduct" routerLink="/purchase">
          <i class="fa fa-credit-card"></i>
          Concretar compra
        </button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="loading">
    <div class="col text-center">
        <div class="spinner-border"></div>
    </div>
  </div>
  <div *ngIf="!existProduct && !loading" class="row row-error">
    <div class="error-message">
        <div (click)="goBack()" class="fa fa-arrow-circle-left"></div>
        <p class="message">Disculpe las molestias, el producto que esta buscando no existe o no puede accederse en este momento.</p> 
    </div>
  </div>
</div>
<footer [backToTop]="false"></footer>
