body{
    margin:0;
    font-family: rubik, sans-serif, Arial;
}

.spinner-border{
    display: inline-block;
    width: 5rem;
    height: 5rem;
    vertical-align: text-bottom;
    border: 0.5em solid white;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}

.button{
    background: #216583;
    border: none;
    color: white;
    border: 1px solid white;
}

.button:focus{
    outline:0;
}

.button:hover{
    background: #293462;
}

.button:disabled{
    background: lightgray;
    cursor: not-allowed;
}